@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@800&family=League+Script&family=Meie+Script&family=Montserrat:ital,wght@0,400;0,600;0,700;1,500&family=Style+Script&display=swap');
@import url('style_reset.css');
@import url('style_common.css');
@import url('footer.css');


.active{
    color: var(--color-orange);
}

/* media query */
@media screen and (max-width: 770px){
    .row{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
    }
    .card{
        width: 100%;
        margin: 1rem 0;
    }
}